html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Microsoft YaHei";
  color: #333;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  touch-action: pan-y;
  margin: 0px;
  padding: 0px;
  touch-action: none;
}

ul {
  list-style: none;
}

html,
body,
#root,
.App {
  height: 100%;
}
