html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Microsoft YaHei";
  color: #333;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  touch-action: pan-y;
  margin: 0px;
  padding: 0px;
  touch-action: none;
}

ul {
  list-style: none;
}

html,
body,
#root,
.App {
  height: 100%;
}

/* 解决找房页面展示遮罩层后，页面还会滚动问题 */
.body-fixed {
  overflow: hidden;
}

.route-loading {
  padding-top: 100px;
  text-align: center;
}
